.partners
  background: url("../img/partners-bg.png") center center/cover no-repeat
  
.partners-list
  &__row
    &:first-child
      padding: 40px 0
      border-bottom: 1px solid #8e8587
    &:nth-child(2)
      padding: 50px 0 30px
    &:last-child
      padding: 30px 0 40px
    .partners-list__flex-wrap
      display: flex
      justify-content: space-around
      align-items: center
      +max-width-968
        flex-wrap: wrap
      .partners-list__item
        +max-width-968
          margin: 10px 0
        &.text
          display: inline-block
          text-transform: uppercase
          font-family: $ubuntu
          font-size: 36px
          line-height: 26px
          color: #dcdcdc
          cursor: default
          +max-width-480
            margin-bottom: 10px
        &.image
          font-size: 0
          transition: all .4s
          +max-width-480
            height: 80px
            margin-bottom: 10px
            width: 100%
            img
              display: block
              height: 100%
              object-fit: contain
          &.afc
            width: 241px
            height: 119px
            display: flex
            align-items: center
            justify-content: center
          &.legenda
            width: 134px
            height: 64px
            display: flex
            align-items: center
            justify-content: center
          &.eldorado
            width: 249px
            height: 49px
            display: flex
            align-items: center
            justify-content: center